<div>
  <app-header></app-header>
  <h2>
    Hello, {{firstName}}
  </h2>
  <nav>
    <a routerLink="firstComponent">First Page</a>
    <span>|</span>
    <a routerLink="secondComponent">Second Page</a>
    <span>|</span>
    <a routerLink="thirdComponent">Third Page</a>
  </nav>
  <div>
    <app-sizer [(size)]="fontSizePx" (sizeChange)="fontSizePx=$event"></app-sizer>
    <div class= 'resizedText'[style.font-size.px]="fontSizePx">Resizable Text</div>
  </div>

</div>

<router-outlet></router-outlet>
